* {
    margin: 0;
    padding: 0;
}

body {
    background:#fafafa;
}

.f_lf {
    float: left;
}

.f_rt {
    float: right;
}

a {
    font-size:13px;
    font-family:console;
    color: #22BAD9;
    text-decoration:none;
}

a:hover {
    background-color:#22BAD9;
    color: #ffffff;
}

ul.a1 {
    list-style:none;
    font-size:14px;
    color: #999999;
}